.headlineWrapper {
    width: 100%;
    padding: 30px 0;
    font-family: var(--font-bad-script);
    font-size: 1.7rem;
    color: var(--secondaryColor)
}

.subTitleWrapper{

    padding: 10px 0 50px 30px;
    font-family: var(--font-pt-sans);
    font-size: 1.7rem;
    color: var(--secondaryColor)
}

.subTitleWrapper > a:hover,
.textLink:hover{
    color: var(--thirdColor);

}

.bodyContentWrapper{

    width: 100%;
    word-break: break-word;
    text-align: left;
    font-size: 1.4rem;
    height: auto;
    padding-bottom: 70px;
}

.bodyContentWrapper > p{
    padding: 10px 0
}

.contactButton{
    margin: 30px 0;
    padding: 0 10px;
    background-color: var(--buttonBackgroundsecondary);
    width: 300px;
    color: var(--thirdColor);
    font-size: 1.3rem;
    font-weight: bolder;
    text-align: center;
    letter-spacing: 2px;
    display: block;
}

.contactButton:hover{
    background-color: var(--buttonBackgroundprimary);
    color: var(--secondaryColor);
}

@media screen and (min-width: 768px){

    .bodyContentWrapper {
        text-align: left;
        width: 80%;
        padding: 0

    }
}