.listItem {
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 30px;
    padding-left: 20px;
    color: var(--secondaryColor)
}
.quoteStyle {
    padding: 20px 0 40px 30px;
    font-family: var(--font-pt-sans);
    font-size: 1.7rem;
    color: var(--secondaryColor)
}
.paragraph {
    width: 100%;
    word-break: break-word;
    text-align: left;
    line-height: 30px;
    font-size: 1.4rem;
    height: auto;
}

.paragraphBold{
    font-weight: bold;
    color: var(--secondaryColor)
}

.hyperlink {
    font-size: 1.4rem;
    color: var(--secondaryColor)
}

.hyperlink:hover{
    color: var(--thirdColor)
}